body {
    font-family: Arial, sans-serif;
    background-color: #ffdde1; /* Tông màu hồng nhạt */
    color: #ff6384; /* Màu hồng đậm */
    text-align: center;
    padding: 50px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

#countdown {
    font-size: 48px;
    font-weight: bold;
}

.gift {
    margin-top: 50px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    text-align: center;
}

.gift.hidden {
    display: none;
}

.btn {
    background-color: #ff6384;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
}

.btn:hover {
    background-color: #ff2a68;
}
